# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v1.2. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PC13".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
# See also https://www.klipper3d.org/Bootloaders.html?h=boot#stm32f103-with-hid-bootloader

# See https://www.klipper3d.org/Config_Reference.html for a description of
# parameters.

# Note: This board has a design flaw in its thermistor circuits that
# cause inaccurate temperatures (most noticeable at low temperatures).

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_skr_mini_e3
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0AB0FF1627903CAFAFCA6D5CC22000F5-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
#endstop_pin: P1.29
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 100
second_homing_speed: 8
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: .700
#hold_current: 0.500
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 50000
driver_SGTHRS: 68
diag_pin: ^P1.29



[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40.40404
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
homing_retract_dist: 0
position_min: 0
position_max: 225
homing_speed: 70
 
[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.760
#hold_current: 0.500
stealthchop_threshold: 999999
driver_SGTHRS: 64
diag_pin: ^P1.28


[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8.333333333333333
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 300
 
[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
heater_pin: P2.7
#sensor_pin: P0.24
#sensor_type: PT1000
#pullup_resistor: 1000
#MAX31865 module in E1 set up: https://voron.dozuki.com/Guide/How+to+Use+a+Pt100+Thermistor+w-+Skr+Boards/73
sensor_type: MAX31865
sensor_pin: P1.1
spi_speed: 4000000
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
microsteps: 16
rotation_distance: 3.4231412544
nozzle_diameter: 0.600
filament_diameter: 1.750
min_extrude_temp: 180
max_extrude_only_distance: 1000
max_extrude_cross_section: 50.0
min_temp: 0
max_temp: 450
#control = pid
# pid_kp = 23.716
# pid_ki = 1.363
# pid_kd = 103.165

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800
hold_current: 0.500
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 5000

[heater_bed]
heater_pin: P2.5
sensor_pin: P0.25
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130
#control: pid
#pid_Kp=64.240
#pid_Ki=3.858
#pid_Kd=267.397


# https://www.klipper3d.org/BLTouch.html
[bltouch]
sensor_pin: P0.10  # Pull-up (^ symbol) needed in open drain mode
control_pin: P2.0
# Some BLTouch V3 and many clones apparently require this, though mine didnt:
pin_up_touch_mode_reports_triggered: False
#flavor: genuine_smart_3.1
x_offset: -18
y_offset: -26
#z_offset: 1.4
pin_move_time: 1
[fan]
pin: P2.3
kick_start_time: 0.500
off_below: 0.25

[display]
# From https://github.com/bigtreetech/BIGTREETECH-TouchScreenFirmware/pull/1913
# and https://github.com/teeminus/NoTouchScreenFirmware/wiki/Klipper-display-configuration
lcd_type: emulated_st7920
#spi_software_miso_pin: EXP1_6
spi_software_miso_pin: EXP2_1 #??? try if 1_6 doesnt work
spi_software_mosi_pin: EXP1_3
spi_software_sclk_pin: EXP1_5
en_pin: EXP1_4
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
pwm: True
shutdown_value: 0
# PWM frequency [0.001 = 1ms] will give a tone of 1kHz, although not pitch perfect.
cycle_time: 0.001

[filament_switch_sensor RunoutSensor]
#pause_on_runout: False
#runout_gcode: PAUSE
#insert_gcode: RESUME
event_delay: 3.0
pause_delay: 0.5
switch_pin: !P1.25



[board_pins]
aliases:
	EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
	EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
	EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
	EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>

